[Desktop Entry]
Version=1.0
Name=Malenia
Comment=The best VMS ever made by @tal.hadad2001
Terminal=false
Type=Application
Categories=Utility;Development;
